body{
    background-color: coral;
    float:right;
    position: relative;
}

form{
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position:relative; */
   margin-right:500px;
   margin-top:300px;
}